.idea/
*.iml
*.iws
*.eml
*.swp
*.aux
*.bbl
*.bcf
*.blg
*.log
*.pdf
*.pyg
*.run.xml
*.synctex.gz
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
.ipynb_checkpoints/
/2018-06-01-arpa-e/reveal.js
.tags*
